@charset "UTF-8";

/* 優先されない */
@font-face {
    font-family: 'Icons';
    src: url("../fonts/icons.woff2") format('woff') !important;
}
@font-face {
    font-family: 'outline-icons';
    src: url("../fonts/outline-icons.woff2") format('woff') !important;
}

body{
    font-family: 'Noto Sans JP', 'Open Sans', sans-serif !important;
    text-align: center !important;
}

section {
    padding: 3em 0;
}

section h2 {
    font-family: 'Permanent Marker';
    font-size: 46px;
    text-align: center;
    padding-bottom: 0.7em;
}

/* top */
/* 画像は相対パスにする必要がある*/
.top-visual {
    background: url('../img/topBar.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}

/* about */
.about {
    background-color: #DEF0EA;
}
/* スタイルが全然適用されない */
.about img {
    width: 270px;
}

/* schedule */
td.center.aligned{
    font-weight: bold;
    font-size: 16x;
}

/* guest speakers */
.purple.card {
    padding: 2em;
}

.guests {
    background-image: url('../img/tsukuba.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(00, 00, 00, 0.50);
}

/* footer */
.footer {
    padding: 5em 0;
    background-color: #DEF0EA;
}