@charset "UTF-8";

body{
    font-family: 'Noto Sans JP', 'Open Sans', sans-serif;
    text-align: center;
}

section {
    padding: 3em 0;
}

section h2 {
    font-family: 'Permanent Marker';
    font-size: 46px;
    text-align: center;
    padding-bottom: 0.7em;
    letter-spacing: 0.1em;
}

/* top */
/* 画像は相対パスにする必要がある*/
.top-visual {
    background: url('../img/topBar.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}

/* about */
.about {
    background-color: #DEF0EA;
}
.about img {
    width: 270px;
}

/* schedule */
td.center.aligned{
    font-weight: bold;
    font-size: 16px;
}
.purple.ui.labeled.icon.buttons {
    margin-bottom: 30px;
}

/* guest speakers */
.guests {
    background-image: url('../img/tsukuba.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(00, 00, 00, 0.50);
}
.guest-name {
    background: linear-gradient(transparent 60%, rgba(163, 51, 200, 0.5) 60%);
}

/* footer */
.footer {
    padding: 5em 0;
    background-color: #DEF0EA;
}
.ui.facebook.button {
    margin: 0 40px;
    width: 60%;
}